.container_menu {
    display: flex;
    position: fixed;
    width: 100%;    
}

.box_menu {
    display: flex;
    width: 100%;
    gap: 2rem;
    padding: 1rem;
    background-color: transparent;
    overflow-x: hidden;
    cursor: default;
}

.text_item_menu {
    text-decoration: none;
    color: var(--platinum);
    font-family: archivo;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--african-violet);
}

.home_icon {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--african-violet);
    border-bottom-left-radius: 10px;
    color: var(--platinum);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}