.container_instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 2rem;
    height: 100%;
    background-color: var(--jet);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.container_home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 4%;
    padding-bottom: 4rem;
}

.box_instructions {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 4rem;
}

.text_instructions {
    color: var(--platinum);
    font-family: Archivo;
    width: 80%;
}

.title_instructions {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--platinum);
    font-family: Archivo;
}

.color_instructions {
    color: var(--platinum);
    font-family: Archivo;
    padding-top: 4rem;
}

.box_letter {   
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: Archivo-bold;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.color_correct {
    background-color: var(--correct);
}

.color_incorrect {
    background-color: var(--african-violet);
}

.color_present {
    background-color: var(--present);
}

.box_colors {
    display: flex;
    justify-content: space-between;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
}

.text_color_letter {
    font-size: 1rem;
    color: var(--platinum);
    font-family: Archivo;
    padding-bottom: 1rem;
}

.letter_box_example_correct {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: Archivo-bold;
    background-color:var(--correct);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    outline: none;
    cursor: pointer;
    caret-color: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--platinum);
    font-size: 1.5rem;
}

.letter_box_present {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: Archivo-bold;
    background-color:var(--african-violet);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    outline: none;
    cursor: pointer;
    caret-color: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--platinum);
    font-size: 2rem;
}

.letter_box_example {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: Archivo-bold;
    background-color:var(--present);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    outline: none;
    cursor: pointer;
    caret-color: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--platinum);
    font-size: 2rem;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

.wordTest {
    display: flex;
}