:root {

    --platinum: #E5E4E2;
    --alabaster: #E8EDDF;
    --african-violet: #9C89B8;
    --eerie-black: #242423;
    --jet: #333533;
    
    --black: #000000;
    --correct: #8fc75b;
    --incorrect: #D21F3C;
    --present: #2c2c2c;
  }
