.container_maintence {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.text_maintence {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem;
}

.icon_maintence {
    font-size: 5rem;
    color: #fff;
    margin-bottom: 1rem;
}