.key_button {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
}

.keyboard_line {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(13, auto);
    gap: 0.5rem;
    text-align: center;
    width: 100%;
}   

.keyboard_container {
    justify-content: center;
    padding-bottom: 1rem;
}

.keyboard_line_extra {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.key_button.key_incorrect {
    opacity: 0.2;
}

.key_button.key_found {
    background-color: var(--correct);
}

.key_button.key_present {
    background-color: var(--african-violet);
}

/* Dueto */
.key_button.r_present_l_found {
    background: linear-gradient(to right, var(--correct) 50%,var(--african-violet) 50%);
}

.key_button.l_present_r_found {
    background: linear-gradient(to right, var(--african-violet) 50%,var(--correct) 50%);
}

.key_button.r_incorrect_l_present {
    background: linear-gradient(to right, var(--jet, 0.2) 50%,var(--african-violet) 50%);
}

.key_button.l_incorrect_r_present {
    background: linear-gradient(to right, var(--african-violet) 50%,var(--jet, 0.2) 50%);
}

.key_button.r_incorrect_l_found {
    background: linear-gradient(to right, var(--jet, 0.2) 50%,var(--correct) 50%);
}

.key_button.l_incorrect_r_found {
    background: linear-gradient(to right, var(--correct) 50%,var(--jet, 0.2) 50%);
}

/* Quarteto */
.key_button.o_correct_t_correct_t_correct_q_present {
    background: conic-gradient(var(--correct) 90deg,var(--correct) 90deg 180deg,var(--correct) 180deg 270deg,var(--african-violet) 270deg);
}

.key_button.o_present_t_correct_t_correct_q_correct {
    background: conic-gradient(var(--african-violet) 90deg,var(--correct) 90deg 180deg,var(--correct) 180deg 270deg,var(--correct) 270deg);
}

.key_button.o_correct_t_correct_t_present_q_correct {
    background: conic-gradient(var(--correct) 90deg,var(--correct) 90deg 180deg,var(--african-violet) 180deg 270deg,var(--correct) 270deg);
}

.key_button.o_correct_t_present_t_correct_q_correct {
    background: conic-gradient(var(--correct) 90deg,var(--correct) 90deg 180deg,var(--african-violet) 180deg 270deg,var(--correct) 270deg);
}

.key_button.o_present_t_present_t_present_q_correct {
    background: conic-gradient(var(--african-violet) 90deg,var(--african-violet) 90deg 180deg,var(--african-violet) 180deg 270deg,var(--correct) 270deg);
}

.key_button.o_correct_t_present_t_present_q_present {
    background: conic-gradient(var(--correct) 90deg,var(--african-violet) 90deg 180deg,var(--african-violet) 180deg 270deg,var(--african-violet) 270deg);
}

.key_button.o_correct_t_present_t_present_q_present {
    background: conic-gradient(var(--correct) 90deg,var(--african-violet) 90deg 180deg,var(--african-violet) 180deg 270deg,var(--african-violet) 270deg);
}

.key_back {
    width: 50%;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
}

.key_enter {
    width: 50%;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
}

.key {
    background-color: var(--jet);
    color: var(--platinum);
    border: none;
    transition: 0.3s;
    font-family: Archivo;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key:active {
    scale: 0.85;
}

.key:hover {
    background-color: var(--platinum);
    color: var(--jet);
    transition: 0.3s;
}