.key_button {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
}

.keyboard_line {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(13, auto);
    gap: 0.5rem;
    text-align: center;
    width: 100%;
}   

.keyboard_container {
    justify-content: center;
}

.keyboard_line_extra {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.key_button.key_incorrect {
    opacity: 0.2;
}

.key_button.key_found {
    background-color: var(--correct);
}

.key_button.key_present {
    background-color: var(--african-violet);
}

.key_back {
    width: 50%;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
}

.key_enter {
    width: 50%;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
}

.key {
    background-color: var(--jet);
    color: var(--platinum);
    border: none;
    transition: 0.3s;
    font-family: Archivo;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key:active {
    scale: 0.85;
}

.key:hover {
    background-color: var(--platinum);
    color: var(--jet);
    transition: 0.3s;
}