.container_keyboard_quarteto {
    display: flex;
    align-self: center;
    justify-self: self-end;
    padding-top: 5rem;
    margin-bottom: -5rem;
}

.box_quarteto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 20rem;
}

.letter_box_quarteto {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: Archivo-bold;
    background-color: var(--eelie-black);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    outline: none;
    cursor: pointer;
    caret-color: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--platinum);
    font-size: 1.5rem;
}

.future-chance {
    background-color: var(--jet);
}

.container_keyboard {
    display: flex;
    align-self: center;
    justify-self: self-end;
    padding-top: 5rem;
}

.letter_box_quarteto_selected {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: Archivo-bold;
    background-color: var(--eelie-black);
    border-bottom: 2px solid var(--jet);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    outline: none;
    cursor: pointer;
    caret-color: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--platinum);
    font-size: 1.5rem;
}

.letter_box_quarteto_correct {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: Archivo-bold;
    background-color:var(--correct);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    outline: none;
    cursor: pointer;
    caret-color: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--platinum);
    font-size: 1.5rem;
}

.letter_box_quarteto_incorrect {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: Archivo-bold;
    background-color:var(--present);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    outline: none;
    cursor: pointer;
    caret-color: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--platinum);
    font-size: 1.5rem;
}

.letter_box_quarteto_present {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: Archivo-bold;
    background-color:var(--african-violet);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    outline: none;
    cursor: pointer;
    caret-color: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--platinum);
    font-size: 1.5rem;
}