@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@font-face {
    font-family: Archivo;
    src: url(./assets/font/Archivo_Expanded-Light.ttf);
}

@font-face {
    font-family: Archivo-bold;
    src: url(./assets/font/Archivo_Expanded-Bold.ttf);
}

body {
    background-color: #242423;
    font-family: Archivo;
    color: var(--whitesmoke);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    cursor: default;
}

body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb {
    background-color: none;
    border-radius: none;
    border: none;
}

* {
    font-family: Archivo;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}